* {
    box-sizing: border-box;
}


form.formulario {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    
    fieldset {
        /*APLICACION DE FLEXBOX PARA ALINEAR LOS IMPUT Y BUTTON EN COLUMNA*/
        display: flex;
        flex-direction: column;
        gap: 0.4em;
        justify-content: center;
        padding: 0.8em;
        height: 120dvh;
        background-color: aqua;
        align-items: center;
        border-radius: 15px;
        label {
            text-align: start;
            margin: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        input {
            width: 100%;
            border: thin solid rgb(11, 255, 222);
        }

        button {
            border-radius: 10px;
        }

        legend,
        button {
            background-color: rgb(82, 108, 255);
            border-radius: 15px;
        }

        button {
            font-size: 1rem;
            box-shadow: 5px 5px rgb(0, 0, 0);
            /*APLICACION CORRECTA DE TRANSICION EN LOS BOTONES USANDO Transition-property y transition-duration*/
            transition-property: all;
            transition-duration: 1.5s;

            &:hover {
                background-color: rgb(243, 247, 248);
                cursor: pointer;
                translate: 5px 5px;
                box-shadow: none;
            }
        }

        input,
        textarea {
            width: 100%;
            padding: 10px;
        }

        textarea {

            height: 140px;
        }
    }
}

tr,
th {
    padding: 2px;
}

table {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 70%;
    margin: 0.5rem auto;
}

thead tr {
    background-color: rgb(173, 185, 39);
}

tbody {
    tr {
        td {
            background-color: cadetblue;
        }
    }
}

table,
td,
th,
tr {
    border: 2px solid red;
}

tbody tr:hover {
    background-color: rgb(167, 255, 2);
}