* {
    box-sizing: border-box;
}

fieldset {
    fieldset {
        background: white;
        /* fondo blanco dentro */
        border: 2px solid #1a75eb;
        border-radius: 15px;
        padding: 20px;
        width: 100%;
    }
}

form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    fieldset {
        /*APLICACION DE FLEXBOX PARA ALINEAR LOS IMPUT Y BUTTON EN COLUMNA*/
        
        display: flex;
        flex-direction: column;
        gap: 0.4em;
        justify-content: center;
        padding: 0.8em;
        background: white;
        width: 100%;
        border: thin solid rgb(235, 221, 26);
        border-radius: 15px;
        padding: 1rem;
        text-align: center;

        label {
            display: inline-block;
            background: #a8a8ff;
            padding: 8px 15px;
            border-radius: 20px;
            font-weight: bold;
        }

        input {
            width: 100%;
            border: thin solid rgb(0, 255, 98);
            margin-bottom: 2rem;
        }

        button {
            margin: 1rem auto;
            border-radius: 10px;
        }

        legend,
        button {
            background-color: rgb(177, 174, 0);
            border-radius: 15px;
        }

        button {
            font-size: 1rem;
            box-shadow: 5px 5px red;
            /*APLICACION CORRECTA DE TRANSICION EN LOS BOTONES USANDO Transition-property y transition-duration*/
            transition-property: all;
            transition-duration: 1.5s;

            &:hover {
                background-color: rgb(238, 255, 2);
                cursor: pointer;
                translate: 5px 5px;
                box-shadow: none;
            }
        }
    }
}